.CropTool {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
}

.CropTool .area {
	position: absolute;
}

.CropTool .image {
	position: absolute;
	top: 0;
	left: 0;
}

.CropTool .box {
	position: absolute;
	top: 0;
	left: 0;
	outline: 1px solid white;
	width: 100px;
	height: 100px;
	cursor: move;
	box-shadow: 0 0 0 1000px rgba(0,0,0,0.7);
}
.CropTool .boxResizer {
	position: absolute;
	width: 15px;
	height: 15px;
	right: -7px;
	bottom: -7px;
	background-color: white;
	border-radius: 50%;
	cursor: se-resize;
	cursor: nwse-resize;
}

.CropTool .info {
	position: absolute;
	color: #aaa;
	font-size: 11px;
}

.CropTool .icon {
	position: absolute;
	bottom: 1em;
	width: 40px;
	height: 40px;
	fill: #666;
	cursor: pointer;
}
.CropTool .icon-cancel {
	left: 1em;
}
.CropTool .icon-cancel:hover {
	fill: #a66;
}
.CropTool .icon-ok {
	right: 1em;
}
.CropTool .icon-ok:hover {
	fill: #6a6;
}