#previewer {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAASklEQVRIS+3UMQ4AMAgCQPiE/3+ck09wqWs34triTEJyIbK7DxZXVYs0QBcoLxMpIa9ICr1AlJmrXxQR2uVK0AXKy0RKCCb6gGgAnmd/ObCz3Z4AAAAASUVORK5CYII=);
	padding: 2em;
	display: inline-block;
	border-radius: 3px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4) inset;
}